<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <!-- 
      <class name="Progs.links"/>
      <class name="Progs.GoogleSpeedScore"/>
      <class name="Progs.Login"/>
      <class name="Progs.Performance"/> 
      -->
      <class name="Progs.Login">
          <methods>
              <include name="gSignIn"></include>
              <include name="fbSignIn"></include>
              <include name="signup"></include>
              <include name="login"></include>
          </methods>
      </class>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
